@page
@model ChangePasswordModel
@{
    Layout = null;
}
@using Microsoft.AspNetCore.Mvc.Localization;
@using OneBeyond.Studio.Obelisk.WebApi.Localizations;
@using OneBeyond.Studio.Obelisk.WebApi.Helpers;
@using OneBeyond.Studio.Obelisk.WebApi.Pages.Account;
@inject IHtmlLocalizer<SharedResources> sharedLocalizer;

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Change Password</title>
    <link href="~/@UIBuildFileHelpers.GetFileNameFromUIBundle("mainCss.*.css")" rel="stylesheet" />
</head>

<body id="page-account">
    <div class="d-flex align-items-center justify-content-center min-vh-100 row">
        <div id="siteLogin" class="account-box change-password-box">

            @if (TempData["StatusMessage"] != null)
            {
                <h1>@TempData["StatusMessage"]</h1>
            }
            else
            {
                <h1 class="text-center">@sharedLocalizer["Please enter a new password"]</h1>
                <p>
                    @sharedLocalizer["The password must be at least 10 characters long and contain one numeric character, one uppercase character, " +
                    "one lowercase character and a special character."]
            </p>

            <form id=changePasswordForm method="post">

                @Html.AntiForgeryToken()

                <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                <div class="form-group">
                    <label for="Input.OldPassword">@sharedLocalizer["Old Password"]</label>
                    <input type="password" name="Input.OldPassword" class="form-control" autocomplete="new-password" />
                    <span asp-validation-for="Input.OldPassword" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label for="Input.NewPassword">@sharedLocalizer["New Password"]</label>
                    <input type="password" name="Input.NewPassword" class="form-control" autocomplete="new-password" />
                    <span asp-validation-for="Input.NewPassword" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label for="Input.ConfirmPassword">@sharedLocalizer["Confirm Password"]</label>
                    <input type="password" name="Input.ConfirmPassword" class="form-control" autocomplete="new-password" />
                    <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
                </div>


                <div class="form-group">
                    <button id="submit-btn" type="submit" class="btn btn-success">@sharedLocalizer["Change"]</button>
                </div>

            </form>

        }

            <p class="text-center">
                <a href="~/">@sharedLocalizer["Back"]</a>
            </p>

        </div>
    </div>
    <partial name="_PageFooter" />
</body>
</html>

