@page
@model ForgotPasswordModel

@{
    Layout = null;
}
@using Microsoft.AspNetCore.Mvc.Localization;
@inject IHtmlLocalizer<SharedResources> sharedLocalizer;
@using OneBeyond.Studio.Obelisk.WebApi.Localizations;
@using OneBeyond.Studio.Obelisk.WebApi.Pages.Account;
@using OneBeyond.Studio.Obelisk.WebApi.Helpers;

<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8">
    <meta content="width=device-width,maximum-scale=1.0,initial-scale=1.0,minimum-scale=1.0,user-scalable=yes,shrink-to-fit=no" name="viewport">

    <title>@sharedLocalizer["Forgot password"]</title>
    <link rel="stylesheet" href="~/fontawesome-free-5.7.0-web/css/all.min.css">

    <link href="~/@UIBuildFileHelpers.GetFileNameFromUIBundle("mainCss.*.css")" rel="stylesheet" />
</head>
<body id="page-account">
    <div class="d-flex align-items-center justify-content-center min-vh-100 row">
        <div id="siteLogin" class="account-box login-box">

            @*<img src="~/images/logo-login.png" height="30" class="mx-auto d-block logo" />*@
            <h1 class="text-center">@sharedLocalizer["Forgotten your password?"]</h1>

            @if (!string.IsNullOrEmpty(Model.ErrorMessage))
            {
                <div class="alert alert-danger">@Model.ErrorMessage;</div>
            }

            <form id="loginForm" method="post" class="label-float-animation">

                @Html.AntiForgeryToken()

                <p class="text-center">@sharedLocalizer["Enter your email address, and we'll send instructions on how to reset your password."]</p>

                <div class="form-group">
                    <input type="email" class="form-control" placeholder="Email address" id="inputEmail" name="Input.Email" />
                    <label for="inputEmail">@sharedLocalizer["Email address"]</label>
                </div>

                <div class="form-group">
                    <button type="submit" id="submit-btn" class="btn btn-primary">@sharedLocalizer["Send password reset email"]</button>
                </div>

                <p class="text-center">
                    <a href="Login"><i class="fas fa-angle-left"></i> @sharedLocalizer["Back to login page"]</a>
                </p>

            </form>

        </div>
    </div>
    <partial name="_PageFooter" />
</body>
</html>
