@page
@model ResetPasswordModel
@{
    Layout = null;
}
@using Microsoft.AspNetCore.Mvc.Localization;
@inject IHtmlLocalizer<SharedResources> sharedLocalizer;
@using OneBeyond.Studio.Obelisk.WebApi.Localizations;
@using OneBeyond.Studio.Obelisk.WebApi.Helpers;
@using OneBeyond.Studio.Obelisk.WebApi.Pages.Account;

<!DOCTYPE html>

<html>

<head>
    <meta name="viewport" content="width=device-width" />

    <title>@sharedLocalizer["Reset Password"]</title>

    <link href="~/@UIBuildFileHelpers.GetFileNameFromUIBundle("mainCss.*.css")" rel="stylesheet" />
</head>

<body id="page-account">

    <div class="d-flex align-items-center justify-content-center min-vh-100 row">
        <div id="siteLogin" class="account-box change-password-box">
            <h1 id="loginTitle" class="text-center">@sharedLocalizer["Reset Password"]</h1>
            <form id=loginForm method="post">
                @Html.AntiForgeryToken()
                @Html.ValidationSummary(false, "", new { @class = "text-danger" })
                <h4>@sharedLocalizer["Reset your password"]</h4>
                <input type="hidden" name="Input.Code" value="@Model.Input.Code" />
                <div class="form-group">
                    <input type="text" class="form-control" placeholder="User Name" id="inputUserName" name="Input.UserName" value="@Model.Input.UserName" />
                </div>
                <br />
                <div>
                    <input type="password" class="form-control" placeholder="Password" id="inputPassword" name="Input.Password" autocomplete="new-password" />
                </div>
                <br />
                <div>
                    <input type="password" class="form-control" placeholder="Confirm Password" id="confirmPassword" name="Input.ConfirmPassword" autocomplete="new-password" />
                </div>
                <br /><br />
                <div>
                    <button type="submit" id="submit-btn" class="btn btn-primary">
                        @sharedLocalizer["Set New Password"]
                    </button>
                </div>
            </form>
        </div>
    </div>

    <partial name="_PageFooter" />

</body>

</html>
