@page
@model SetPasswordModel
@{
    Layout = null;
}
@using Microsoft.AspNetCore.Mvc.Localization;
@inject IHtmlLocalizer<SharedResources> sharedLocalizer;
@using OneBeyond.Studio.Obelisk.WebApi.Localizations;
@using OneBeyond.Studio.Obelisk.WebApi.Helpers;
@using OneBeyond.Studio.Obelisk.WebApi.Pages.Account;

<!DOCTYPE html>

<html>

<head>
    <meta name="viewport" content="width=device-width" />

    <title>Set Password</title>

    <link href="~/@UIBuildFileHelpers.GetFileNameFromUIBundle("mainCss.*.css")" rel="stylesheet" />

    <script src="~/dist/vendor.bundle.js" asp-append-version="true"></script>
</head>

<body id="page-account" class="body-reset-password">

    <div class="d-flex align-items-center justify-content-center min-vh-100 row">
        <div id="siteLogin" class="account-box change-password-box">

            <h1 id="loginTitle" class="text-center">@sharedLocalizer["Welcome to Obelisk"]</h1>

            <p>
                @sharedLocalizer["Please create a password for your account."]
            </p>

            <form id="set-password-form" method="post">

                @Html.AntiForgeryToken()

                <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                <input type="hidden" name="Input.Code" value="@Model.Input.Code" />
                <input type="hidden" name="Input.LoginId" value="@Model.Input.LoginId" />

                <div class="form-group">
                    <label for="Input.NewPassword">@sharedLocalizer["New Password"]</label>
                    <input type="password" name="Input.NewPassword" class="form-control" autocomplete="new-password" />
                    <span asp-validation-for="Input.NewPassword" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label for="Input.ConfirmPassword">@sharedLocalizer["Confirm Password"]</label>
                    <input type="password" name="Input.ConfirmPassword" class="form-control" autocomplete="new-password" />
                    <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
                </div>

                <button type="submit" class="btn btn-default">@sharedLocalizer["Set password"]</button>

            </form>

        </div>
    </div>

    <partial name="_PageFooter" />

</body>

</html>
