@page
@model             ResetAuthenticatorModel
@{
    ViewData["Title"] = @sharedLocalizer["Reset authenticator key"];
    Layout = null;
}
@using Microsoft.AspNetCore.Mvc.Localization;
@using OneBeyond.Studio.Obelisk.WebApi.Localizations;
@using OneBeyond.Studio.Obelisk.WebApi.Pages.Account.TFA;
@using OneBeyond.Studio.Obelisk.WebApi.Helpers;
@inject IHtmlLocalizer<SharedResources> sharedLocalizer;

<!DOCTYPE html>

<html>

<head>
    <meta charset="utf-8">
    <meta content="width=device-width,maximum-scale=1.0,initial-scale=1.0,minimum-scale=1.0,user-scalable=yes,shrink-to-fit=no" name="viewport">

    <title>@ViewData["Title"]</title>

    <link href="~/@UIBuildFileHelpers.GetFileNameFromUIBundle("mainCss.*.css")" rel="stylesheet" />
</head>

<body id="page-account">

    <div class="d-flex align-items-center justify-content-center row min-vh-100">
        <div id="siteLogin" class="account-box login-box">

            <partial name="_StatusMessage" for="StatusMessage" />

            <h4>@ViewData["Title"]</h4>

            <div class="alert alert-warning" role="alert">
                <p>
                    <span class="glyphicon glyphicon-warning-sign"></span>
                    <strong>@sharedLocalizer["If you reset your authenticator key your authenticator app will not work until you reconfigure it."]</strong>
                </p>
                <p>
                    @sharedLocalizer["This process disables 2FA until you verify your authenticator app. " +
                    "If you do not complete your authenticator app configuration you may lose access to your account."]
                </p>
            </div>
            <div>
                <form id="reset-authenticator-form" method="post" class="form-group">
                    <button id="reset-authenticator-button" class="btn btn-danger" type="submit">@sharedLocalizer["Reset authenticator key"]</button>
                </form>
            </div>
        </div>
    </div>

</body>

</html>
