@page
@model             ShowRecoveryCodesModel
@{
    Layout = null;
    ViewData["Title"] = @sharedLocalizer["Recovery codes"];
}
@using Microsoft.AspNetCore.Mvc.Localization;
@using OneBeyond.Studio.Obelisk.WebApi.Localizations;
@using OneBeyond.Studio.Obelisk.WebApi.Pages.Account.TFA;
@using OneBeyond.Studio.Obelisk.WebApi.Helpers;
@inject IHtmlLocalizer<SharedResources> sharedLocalizer;

<!DOCTYPE html>

<html>

<head>
    <meta charset="utf-8">
    <meta content="width=device-width,maximum-scale=1.0,initial-scale=1.0,minimum-scale=1.0,user-scalable=yes,shrink-to-fit=no" name="viewport">

    <title>@ViewData["Title"]</title>

    <link href="~/@UIBuildFileHelpers.GetFileNameFromUIBundle("mainCss.*.css")" rel="stylesheet" />
</head>

<body id="page-account">

    <div class="d-flex align-items-center justify-content-center row min-vh-100">
        <div id="siteLogin" class="account-box login-box">

            <partial name="_StatusMessage" for="StatusMessage" />

            <h4>@ViewData["Title"]</h4>

            <div class="alert alert-warning" role="alert">
                <p>
                    <strong>@sharedLocalizer["Put these codes in a safe place."]</strong>
                </p>
                <p>
                    @sharedLocalizer["If you lose your device and don't have the recovery codes you will lose access to your account."]
                </p>
            </div>

            <div class="row">
                <div class="col-md-12">
                    @for (var row = 0; row < Model.RecoveryCodes.Length; row += 2)
                    {
                        <code class="recovery-code">@Model.RecoveryCodes[row]</code><text>&nbsp;</text><code class="recovery-code">@Model.RecoveryCodes[row + 1]</code><br />
                    }
                </div>
            </div>

            <div class="row">
                <form method="post" class="form-group">
                    <button type="submit" id="submit-btn" class="btn btn-success continueBtn">@sharedLocalizer["Continue on Obelisk"]</button>
                </form>
            </div>
        </div>
    </div>

    <partial name="_PageFooter" />

</body>

</html>
