<!doctype html>
@inject Microsoft.AspNetCore.Http.IHttpContextAccessor HttpContextAccessor
@using OneBeyond.Studio.Obelisk.Authentication.Application;Helpers;
@using OneBeyond.Studio.Obelisk.WebApi.Helpers;
@{
    var buildDateTime = new DateTime(Builtin.CompileTime, DateTimeKind.Utc);
    var sessionDurationInMinutes = (int)SessionConstants.SessionDuration.TotalMinutes;
    var avatarName = "";
}

<html lang="en">
<head>
    <meta charset="utf-8">
    <meta content="width=device-width,maximum-scale=1.0,initial-scale=1.0,minimum-scale=1.0,user-scalable=yes,shrink-to-fit=no" name="viewport">

    <title>Obelisk</title>
    <link rel="stylesheet" href="~/fontawesome-free-5.7.0-web/css/all.min.css">

     <!-- Favicons generated from https://realfavicongenerator.net/ -->
     <link rel="apple-touch-icon" sizes="180x180" href="~/images/icons/apple-touch-icon.png" />
     <link rel="icon" type="image/png" sizes="32x32" href="~/images/icons/favicon-32x32.png" />
     <link rel="icon" type="image/png" sizes="16x16" href="~/images/icons/favicon-16x16.png" />
     <link rel="shortcut icon" href="~/images/icons/favicon.ico" />

    <link href="~/@UIBuildFileHelpers.GetFileNameFromUIBundle("mainCss.*.css")" rel="stylesheet" />

    <script src="~/fontawesome-free-5.7.0-web/js/all.min.js" data-auto-replace-svg="nest"></script>
</head>
<body>

    <script type="text/javascript">
        window.BaseUrl = '@Url.Content("~/")';
    </script>

    <div id="adminApp">

        @* Load mask *@

        <div class="page-load-mask" v-if="!$data" v-transition>
            <div class="lds-css">
                <div class="lds-spinner" style="width: 100%; height: 100%"> <div> </div> <div> </div> <div> </div> <div> </div> <div> </div> <div> </div> <div> </div> <div> </div> <div> </div>  <div> </div> <div> </div> <div> </div> </div>
            </div>
        </div>


        @* App content *@

        <div v-cloak>

            <nav id="main-menu" class="navbar navbar-expand-lg navbar-dark fixed-top">

                <button id="leftBurger" class="hamburger-icon sidebar-toggler offcanvas-toggle" type="button">
                    <div></div>
                </button>

                <router-link class="navbar-brand" to="/" exact>
                    <img src="~/images/one-beyond-logo-black.svg" alt="Obelisk Homepage" />
                </router-link>

                <div class="hamburger-icon navbar-toggle float-right" data-toggle="collapse" data-target="#navbarSupportedContent" id="hamburger-menu">
                    <div></div>
                </div>

                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav mr-auto">
                          <router-link class="nav-item" tag="li" to="/" exact>
                            <a class="nav-link">{{ $t('layout.dashboard') }}</a>
                        </router-link>

                        <router-link v-if="$store.state.userContext.isInRole('Administrator')" class="nav-item" tag="li" to="/users">
                            <a class="nav-link">{{ $t('layout.users') }}</a>
                        </router-link>
                    </ul>

                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item dropdown" id="userNameButton">
                            <a class="nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <div class="profileImage"><span id="userAvatarText">@avatarName</span><img src="~/images/generic-avatar.jpg" id="userAvatarImage" alt="@User.Identity?.Name" class="clip-circle" /> </div>
                                <span id="userName">@User.Identity?.Name</span>
                            </a>
                            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
                                <a class="dropdown-item" href="@Url.Content("~/Account/ChangePassword")">{{ $t('layout.changePassword') }}</a>
                                <a class="dropdown-item" href="@Url.Content("~/Account/TFA/TwoFactorAuthentication")" target="_blank">{{ $t('layout.authenticationSettings') }}</a>
                                <div class="dropdown-divider"></div>
                                <form action="~/Account/Logout" method="post" id="logoutForm">
                                    <button type="submit" class="dropdown-item" ref="logoutButton">{{ $t('layout.logout') }}</button>
                                </form>
                            </div>
                        </li>
                    </ul>
                </div>
            </nav>


            <div class="page-body container-fluid">

                @* Sidebar *@

                <aside id="sidebar-left">

                    <div class="sidebar-logo">

                        <img src="~/images/one-beyond-logo-black.svg" height="36" class="d-inline-block align-top" alt="Obelisk Homepage" />


                        <button class="hamburger-icon hamburger-icon-close sidebar-toggler offcanvas-toggle close-sidebar" type="button" data-toggle="collapse">
                            <div></div>
                        </button>

                        <a class="btn btn-primary user-collapse-button text-left" data-toggle="collapse" href="#userCollapse" role="button" aria-expanded="false" aria-controls="collapseExample">
                            <i class="far fa-user mr-2"></i> @User.Identity?.Name
                        </a>

                        <div class="collapse" id="userCollapse">
                            <a class="btn btn-link d-block text-left" href="@Url.Content("~/Account/ChangePassword")"><i class="fas fa-key"></i> {{ $t('layout.changePassword') }}</a>
                            <a class="btn nav-link d-block text-left" href="@Url.Content("~/Account/TFA/TwoFactorAuthentication")" target="_blank"><i class="fas fa-key"></i> {{ $t('layout.authenticationSettings') }}</a>
                            <form action="~/Account/Logout" method="post">
                                <button type="submit" class="btn btn-link d-block text-left" ref="logoutButton"><i class="fas fa-sign-out-alt"></i> {{ $t('layout.logout') }}</button>
                            </form>
                        </div>

                    </div>

                    <div v-if="$i18n.availableLocales.length > 1" class="sidebar-language-selector">
                        <language-selector></language-selector>
                    </div>

                    <div class="sidebar-search-field">
                        <input type="text" id="sidebarSearchInput" onkeyup="sidebarSearch()" placeholder="Search..." class="form-control">
                        <button id="reset-sidebar-search" class="btn" onclick="sidebarSearchReset()"><span></span></button>
                    </div>

                    <a class="nav-section-title" data-toggle="collapse" href="#collapse-navigation" role="button" aria-expanded="false" aria-controls="collapseExample">Navigation</a>
                    <div class="collapse show mt-2" id="collapse-navigation">

                        <ul class="sidebar-menu">

                            <router-link class="nav-item" tag="li" to="/" exact>
                                <a class="nav-link"><i class="fas fa-home"></i> {{ $t('layout.dashboard') }}</a>
                            </router-link>

                            <router-link v-if="$store.state.userContext.isInRole('Administrator')" class="nav-item" tag="li" to="/users">
                                <a class="nav-link"><i class="fas fa-users"></i> {{ $t('layout.users') }}</a>
                            </router-link>

                        </ul>

                    </div>

                </aside>
                <div id="sidebar-mask"></div>


                @* Content *@

                <main class="page-content">
                    @RenderBody()
                </main>

            </div>

        </div>

        @* Session timeout *@
        <session-timeout :session-duration-in-minutes="@sessionDurationInMinutes"></session-timeout>


       @* Footer *@
        <footer class="footer">
            <div class="container-fluid">
                {{ $t('application.applicationName') }} - <span>{{ $t('application.developedBy') }} <a href="https://www.one-beyond.com" target="_blank">One Beyond</a></span>
                                                          <span>{{ $t('application.version') }} {{ $d(new Date(@buildDateTime.Year, @buildDateTime.Month-1, @buildDateTime.Day, @buildDateTime.Hour, @buildDateTime.Minute, @buildDateTime.Second, @buildDateTime.Millisecond), 'long') }}</span>
            </div>
        </footer>
	</div>


    <script src="js/jquery.min.js" asp-append-version="true"></script>
    <script defer src="js/ui-scripts.js" asp-append-version="true"></script>
    <script src="~/@UIBuildFileHelpers.GetFileNameFromUIBundle("adminApp.*.bundle.js")"></script>
    <script src="~/@UIBuildFileHelpers.GetFileNameFromUIBundle("vendor.*.bundle.js")"></script>

    <script>
        $("#hamburger-menu").click(function () {
            $("#hamburger-menu").toggleClass("hamburger-icon-close");
        });
    </script>

</body>
</html>
