@page
@model CookiePolicyModel
@{
    ViewData["Title"] = @sharedLocalizer["Cookie Policy"];
}
@using Microsoft.AspNetCore.Mvc.Localization;
@using OneBeyond.Studio.Obelisk.WebApi.Pages;
@using OneBeyond.Studio.Obelisk.WebApi.Localizations;
@using OneBeyond.Studio.Obelisk.WebApi.Helpers;
@inject IHtmlLocalizer<SharedResources> sharedLocalizer;

<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8">
    <meta content="width=device-width,maximum-scale=1.0,initial-scale=1.0,minimum-scale=1.0,user-scalable=yes,shrink-to-fit=no" name="viewport">

    <title>@ViewData["Title"]</title>

    <link href="~/@UIBuildFileHelpers.GetFileNameFromUIBundle("mainCss.*.css")" rel="stylesheet" />
</head>
<body id="page-account">
    <div class="d-flex align-items-center justify-content-center min-vh-100 row">
        <div id="siteLogin" class="account-box policy-box">

            <h1 class="page-title">[Company Placeholder] @sharedLocalizer["Cookie Policy"]</h1>
            <br />

            <h2 class="page-title">@sharedLocalizer["Introduction"]</h2>
            <p>@sharedLocalizer["We use cookies and similar technologies (“cookies”) on this website for various purposes. A cookie is a data file that a website sends to your browser, which then stores it on the device that you are using to browse the website."]</p>

            <h2 class="page-title">@sharedLocalizer["How this site uses cookies"]</h2>
            <p>@sharedLocalizer["The main cookies used on this website are as follows:"]</p>
            <p>@sharedLocalizer["Session: These are cookies that are designed to ensure that your visit to the website is as smooth as possible. Their main uses are:"]</p>
            <br />
            <ul>
                <li>@sharedLocalizer["Allowing us to identify your device as you use the website, so that you are not treated as a new visitor each time you go to another part of the website;"]</li>
                <li>@sharedLocalizer["Ensure that the servers that we use to power the website each serve an equal number of user, to help make everyone’s browsing as swift and responsible as possible;"]</li>
                <li>@sharedLocalizer["Noting your browser’s capabilities."]</li>
            </ul>
            <br />

            <h2 class="page-title">@sharedLocalizer["How to reject and delete cookies"]</h2>
            <p>@sharedLocalizer["Most web browsers automatically accept cookies. However you do not have to accept cookies and you can, should you choose at any time, reject or block the use of cookies and delete all cookies currently stored on your device."]</p>
            <br />
            <p>
                @sharedLocalizer["You can find out how to do this for your particular browser by clicking “help” on your browser’s menu, or by " +
                "visiting: www.allaboutcookies.org. For example, in Microsoft Internet Explorer 7.0 you can delete cookies by "+
                "selecting “Tools/Internet Options”, clicking on “Delete” in the Browsing History section and then selecting " +
                "“delete cookies”. Options to accept, block, or require notification for the use of cookies are found under: " +
                "“Tools/Internet Options/Privacy/Advanced”. Please be aware however that if you chose to block cookies you " +
                "may not be able to access certain features of this web site."]
            </p>
            <br />
            <p>@sharedLocalizer["For information on how to reject or delete cookies on the browser of your mobile device you may need to refer to the device’s manual."]</p>

            <h2 class="page-title">@sharedLocalizer["Third Party Cookie"]</h2>

            <p>
                @sharedLocalizer["We may allow third party organisations to set cookies using this website in order to deliver services. If you " +
                "would like more information about the cookies used by these third parties, as well as information on how to " +
                "opt -out, please see their individual privacy policies listed below."]
            </p>
            <br />
            <p>@sharedLocalizer["What the cookies are used for:"]</p>
            <br />
            <p>
                @sharedLocalizer["Behind the scenes, we use Google Analytics to give us insights into how our users interact with our " +
                "website. To obtain these insights, Google Analytics uses a number of cookies. The information " +
                "collected is anonymous and statistical."]
            </p>
            <br />
            <p>
                @sharedLocalizer["The Google Analytics cookies are the cookies with names beginning “_utm”. Common Google " +
                "Analytics cookies are, _utma, _utmb, _utmc, and _utmz."]
            </p>
            <br />
            <p>
                @sharedLocalizer["To give you additional control over Google Analytics cookies, Google provides an opt-out plug-in " +
                "for most common website browsers http://tools.google.com/dlpage/gaoptout. " +
                "To give you additional control over Google Analytics cookies, Google provides an opt -out plug -in " +
                "for most common website browsers http://tools.google.com/dlpage/gaoptout."]
            </p>
        </div>
    </div>
    <partial name="_PageFooter" />
</body>
</html>
