@page
@model PrivacyPolicyModel
@{
    ViewData["Title"] = @sharedLocalizer["Privacy Policy"];
}
@using Microsoft.AspNetCore.Mvc.Localization;
@inject IHtmlLocalizer<SharedResources> sharedLocalizer;
@using OneBeyond.Studio.Obelisk.WebApi.Localizations;
@using OneBeyond.Studio.Obelisk.WebApi.Helpers;
@using OneBeyond.Studio.Obelisk.WebApi.Pages;

<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8">
    <meta content="width=device-width,maximum-scale=1.0,initial-scale=1.0,minimum-scale=1.0,user-scalable=yes,shrink-to-fit=no" name="viewport">

    <title>@ViewData["Title"]</title>

    <link href="~/@UIBuildFileHelpers.GetFileNameFromUIBundle("mainCss.*.css")" rel="stylesheet" />
</head>
<body id="page-account">
    <div class="d-flex align-items-center justify-content-center min-vh-100 row">
        <div id="siteLogin" class="account-box policy-box">

            <h1 class="page-title">[Company Placeholder] @sharedLocalizer["Privacy Policy"]</h1>
            <p>@sharedLocalizer["This website is used to advertise the services of [Company Placeholder], with a view to you contacting us to explore what services we offer. Additionally, we use the website to collect job applications."]</p>
            <h2 class="page-title">@sharedLocalizer["Sales Enquiries"]</h2>
            <p>@sharedLocalizer["There are a number of forms on this website available to contact Company Placeholder for sales enquiries. Such forms request company information such as company name, contact information and a summary of requirements. There are also phone numbers and email addresses to contact us with. The information you provide us (company name, contact details and requirements) is used to contact you back to understand your requirements. If we successfully contact you back, and there is a realistic chance of working together, we will store the data entered into a CRM system, along with further contact information and any detailed requirements, so that we can keep track of our communications with you. If we cannot contact you back, we will not store the data you provided into our CRM system."]</p>
            <h2 class="page-title">@sharedLocalizer["Visitor Tracking"]</h2>
            <p>@sharedLocalizer["We use Google Analytics to check the visitor numbers, referrals and behaviour on this website. This 3rd party service collects your IP address, various pieces of information such as your browser version, any keywords you used to find us, and stores it. It keeps a record of the last few years of website traffic. We do this so we can see general visitor trends and to see the results of advertising campaigns."]</p>
            <h2 class="page-title">@sharedLocalizer["Complaints & questions"]</h2>
            <p>@sharedLocalizer["We have a data protection officer at [Company Placeholder] who can be contacted at [Company Placeholder] or [Company Placeholder] with any questions you may have, for complaints, or if you have any data access or removal requests."]</p>

        </div>
    </div>
    <div>
        <partial name="_PageFooter" />
    </div>
</body>
</html>
